.box {
  display: inline-block;
}

.hbox {
  display: inline-block;
  line-height: 0;
}

.vlist {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
}

.vlist > span {
  position: relative;
}

.display {
  font-size: 1.21em;
  display: block;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.section {
  width: 100%;
  display: inline-block;
  padding: 1em 0 0.5em 0;
  font-size: 1.7em;
  font-family: Main-B;
}

.theorem {
  display: block;
  width: 100%;
  padding: 0.5em 0 0.5em 0;
  border: 1px gray solid;
}

.theorem .label {
  line-height: initial;
  font-family: Main-B;
  margin-right: 0.5em;
}

.section .label {
  margin-right: 1em;
}

.section.sub {
  padding: 0.5em 0 0.5em 0;
  font-size: 1.4em;
}

.section.subsub {
  padding: 0.3em 0 0.3em 0;
  font-size: 1.2em;
}

.inline {
  display: inline-block;
  font-size: 1.21em;
}

.hline,
.sep {
  background-color: rgb(52, 52, 52);
  display: inline-block;
}

.line {
  display: inline-block;
  background-color: black;
}

.display,
.inline,
.text {
  /* Without position relative, the selection overlay won't work as expected */
  position: relative;
  /* set break-all temporarily, since each character is wrapped in span and can't detect words */
  word-break: break-all;
  line-height: 0;
}

.align {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.21em;
  position: relative;
}

.inline {
  /* prevent to stick with the last text so that unable to point first atom of inline math */
  margin-left: 1px;
  display: inline-block;
}

.focus {
  background-color: rgba(186, 217, 230, 0.4);
}

.text {
  font-family: Main-R;
}

.hidden {
  opacity: 0;
}

.tag {
  position: absolute;
  right: 0;
}
