.box {
  display: inline-block;
}

.hbox {
  display: inline-block;
  line-height: 0;
}

.vlist {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
}

.vlist > span {
  position: relative;
}

.display {
  font-size: 1.21em;
  display: block;
  width: 100%;
  text-align: center;
  line-height: normal;
}

.inline {
  display: inline-block;
  font-size: 1.21em;
}
