.ams-r {
  font-family: "AMS-R";
}

.cal-b {
  font-family: "Cal-B";
}

.cal-r {
  font-family: "Cal-R";
}

.frak-b {
  font-family: "Frak-B";
}

.frak-r {
  font-family: "Frak-R";
}

.main-b {
  font-family: "Main-B";
}

.main-bi {
  font-family: "Main-BI";
}

.main-i {
  font-family: "Main-I";
}

.main-r {
  font-family: "Main-R";
}

.math-bi {
  font-family: "Math-BI";
}

.math-i {
  font-family: "Math-I";
}

.san-b {
  font-family: "San-B";
}

.san-i {
  font-family: "San-I";
}

.san-r {
  font-family: "San-R";
}

.script-r {
  font-family: "Script-R";
}

.size1 {
  font-family: "Size1";
}

.size2 {
  font-family: "Size2";
}

.size3 {
  font-family: "Size3";
}

.size4 {
  font-family: "Size4";
}

.type-r {
  font-family: "Type-R";
}
