.ams-r {
  font-family: "AMS";
}

.cal-b {
  font-family: "Cal";
}

.cal-r {
  font-family: "Cal";
}

.frak-b {
  font-family: "Frak";
}

.frak-r {
  font-family: "Frak";
}

.main-b {
  font-family: "Main";
  font-weight: bold;
}

.main-bi {
  font-family: "Main";
  font-weight: bold;
  font-style: italic;
}

.main-i {
  font-family: "Main";
}

.main-r {
  font-family: "Main";
}

.math-bi {
  font-family: "Math";
}

.math-i {
  font-family: "Math";
}

.san-b {
  font-family: "San";
}

.san-i {
  font-family: "San";
}

.san-r {
  font-family: "San";
}

.script-r {
  font-family: "Script";
}

.size1 {
  font-family: "Size1";
}

.size2 {
  font-family: "Size2";
}

.size3 {
  font-family: "Size3";
}

.size4 {
  font-family: "Size4";
}

.type-r {
  font-family: "Type";
}
